<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    
    <form action="/new-user" method="post">

        <h1>
            What is ur name?
        </h1>
        <h2>yes</h2>
        
        <input type="text" name="userName">
        <br>
        <br>
        
        <button> Send to DB</button>
        
    </form>
    <!-- <script src="../scripts/userInfo.js"></script> -->
</body>

</html>